<main class="size-full flex items-center justify-center md:pb-10">
  <div
    class="bg-violet-300 rounded-2xl p-3 space-y-3 w-1/4 min-w-max m-4 hover:bg-violet-400 hover:text-white"
  >
    <div class="text-center">
      <p>LUIS LODOSO GIMÉNEZ</p>
    </div>
    <div class="grid grid-cols-7 space-x-5">
      <div class="text-right col-span-2">
        <p>Email:</p>
        <p>WhatsApp:</p>
      </div>
      <div class="col-span-5">
        <p>luislodosogimenez{{ arroba }}gmail.com</p>
        <P>+34 684 327 687</P>
      </div>
    </div>
  </div>
</main>
