<main class="bg-slate-900 h-dvh flex flex-col">
  <header
    class="bg-slate-950 shadow px-6 rounded-b-lg flex h-16 items-center justify-center"
  >
    <h1 class="text-slate-200 italic font-bold text-3xl">Listado películas</h1>
  </header>

  <body class="flex-1 p-4 flex flex-col items-center mt-5">
    <input
      type="text"
      placeholder="Buscar películas por nombre"
      class="bg-slate-200 w-7/12 h-10 rounded-xl p-4 focus:ring-1 focus:ring-indigo-200 outline-slate-500"
    />
    <button class="text-slate-200" (click)="getMovies()">
      OBTENER PELÍCULAS
    </button>
    <div class="space-y-3 text-slate-200 mt-5">
      <H1>LISTA PELICULAS</H1>
      @for (item of returnMovies(); track $index) {
        <p>{{ item.title }}</p>
      }
    </div>
  </body>
</main>
