<main class="bg-slate-900 h-dvh flex-col flex">
  <header
    (click)="getLanguages()"
    class="bg-slate-950 shadow px-6 rounded-b-lg flex h-16 min-h-16 items-center justify-center"
  >
    <h1 #texto class="text-slate-200 italic font-bold text-3xl">
      Listado películas
    </h1>
  </header>

  <script>
    document.getElementById("texto").style.color = "red"
  </script>

  <body
    class="p-4 flex-1 flex flex-col"
    style="
    background-size: cover;
      background-image: url('{{ InitImageUrl }}{{ bgImageUrl }}');"
  >
    <div class="relative w-5/6 mx-auto">
      <div
        class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
      >
        <svg
          class="w-4 h-4 text-slate-800 absolute"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
      </div>

      <input
        type="text"
        [formControl]="textSearch"
        (keyup)="getMovies()"
        placeholder="Buscar películas por nombre"
        class="block w-full ps-10 placeholder:text-slate-600 h-10 rounded-xl p-4 focus:ring-1 focus:ring-indigo-200 outline-slate-500 mx-auto"
      />
    </div>

    @if (searchState || infoState) {
      <div class="flex pt-10">

        @if(searchState){

          <div
          on
          #lista_pelis
          id="listaPelis"
          (mouseout)="mouseOutList()"
          class=" hidden md:block  transition-all duration-1000 bg-opacity-70 ml-40 p-5 w-2/4 text-slate-200 border-white border rounded-lg bg-slate-900"
        >
          <div class="table-header-group font-semibold h-12">
            <h1 #movie_list_title class="transition-all duration-1000 text-4xl">
              Películas coincidentes con "{{ textSearch.value }}" :
            </h1>
          </div>

          <table
            #movie_title
            class="transition-all duration-1000 text-base mt-4 min-w-full text-left divide-y divide-slate-800"
          >
            @for (item of returnMovies(); track $index) {
              <tr class="hover:bg-slate-800">
                <button
                  (mouseover)="mouseOverMovieTitle(item.backdrop_path!)"
                  (click)="clickMovieTitle(item)"
                  class="pb-0.5 ml-1.5 w-full text-left"
                >
                  {{ item.title }}
                </button>
              </tr>
            }
          </table>
        </div>
        }
        <div class="flex-1 p-20 flex-col justify-center">
          @if (movie && infoState) {
            <div
              id="InfoPelis"
              class="flex justify-start  max-h-[30rem] relative text-slate-200 border-white border rounded-lg bg-slate-900 overflow-hidden"
            >
              <button
                (click)="closeMovieInfo()"
                class="absolute top-3 end-3 size-8"
              >
                <svg
                  data-slot="icon"
                  fill="none"
                  stroke-width="1.5"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18 18 6M6 6l12 12"
                  ></path>
                </svg>
              </button>

              <div class="object-fill">

                <img
                class=" h-full"
                src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                alt=""
              />
              </div>
              <div class="w-full p-8 space-y-1 overflow-y-auto">
                <span class="font-bold text-3xl">{{ movie.title }} </span>
                <span class="font-sans text-base"> ({{ movieLenguage }})</span>
                <h2 class="font-semibold text-lg">{{ movie.release_date }}</h2>

                <div >
                  @for (genre of movieGenres; track $index) {
                    <span class="underline mr-2">#{{ genre }}</span>
                  }
                </div>
                <div  class="pt-6  overflow-y-auto">{{movie.overview}}</div>
                
              </div>
            </div>
          }
        </div>
      </div>
    } @else {
      <p class="text-slate-200 mx-auto mt-3">
        ¡Escribe el nómbre de la película que deseas encontrar!
      </p>
    }
  </body>
</main>
